
body{
	background-color:white;
	}
	td{
		border: 1% solid none;
		border-radius: 1%;
	}
	td:hover{
		border: 1% solid none;
		border-radius: 1%;
		opacity: 0.8;
	}
	ul{
		list-style: none;
		height: 5%;
		width: 5%;
	}
	#logo_img{
		margin-top: 0px;
		width: 15%;
		height: 15%;
	}
	#alcalino{
		background-color:#F2F5A9; 
	}
	#alcalin{
		background-color:#FA5858; 
	}
	#mtran{
		background-color:#F5A9BC; 
	}
	#nmetaux{
		background-color:#9FF781; 
	}
	#metaloid{
		background-color:#4B610B; 
	}
	#gaz{
		background-color:#58D3F7; 
	}
	#mpauvre{
		background-color:grey; 
	}
	#halogenes{
		background-color:#D8F781; 
	}
	#lantha{
		background-color:#D358F7; 
	}
	#actini{
		background-color:#F781F3; 
	}
	#matomes{
		font-size: 1vmin;
		position:relative;
		top: -50%;
		left: 4%;

	}
	#sym{
		font-size: 2vmin; 
	}
	#natomes{
		font-size: 0.60vmin;
		position:relative;
		top: 50px;
		left: -35px;

	}
	table{
		width: auto;
		height: auto;

	}

