body{
	background-color: #575757;
}

#head{
	height: 125px;
	width: 1300px;
	border-radius: 10px;
	background-color: #8f8f8f;
	box-shadow: 10px 10px 10px black;
	position: relative;
}

#h-img1{
	height: 125px;
	width: 422px;
	border-radius: 10px;
	position: absolute;
	left: 0px;
}

#loupe{
	height: 150px;
	width: 230px;
	right: 40px;
	top: 0px;
	position: absolute;
}

#close{
	right: 15px;
	top: 95px;
	position: absolute;
}
#reload{
	height: 20px;
	width: 20px;
	right: 15px;
	top: 15px;
	position: absolute;
}
#bcenter{
	height:600px;
	width:850px;
	position: relative;

}
.bcenter{
	height:600px;
	width:860px;
	border:10px solid #8f8f8f;
	border-radius:8px;
	box-shadow: 10px 10px 10px black;
}
.bleft{
	float: left;
	height:450px;
	width:150px;
	background-color: #8f8f8f;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
	margin-left: 20px;
}
.bright{
	float:right;
	height:450px;
	width:150px;
	background-color: #8f8f8f;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
	margin-left: 20px;
}
#ball{
	width: 1250px;
	height: 1300px;
}
.brick{
	background-image: url(resources/brick.jpg);
	height: 70px;
	width: 130px;
}
.search_box{
	background-color: #89ff87;
	border-radius: 10px;
	height:175px;
	width:510px;
	position:absolute;
	bottom: -150px;
	left: -200px;
	text-align: left;
	box-shadow: 10px 10px 10px black;
}
.input_text{
	height:15px;
	width:375px;
	margin-left: 20px;
}

.ikea{
	position: absolute;
	bottom: 40px;
	right: 485px;
	height:190px;
	width:75px;
}

.apple{
	position: absolute;
	bottom: 110px;
	right: 7px;
	height:130px;
	width:150px;
	-webkit-transform:rotate(2deg);
}

.contain {
	padding-top: 5px;
	padding-left: 10px;
}
.ordi{
	text-shadow: 2px 6px 7px red;
}

.btn{
background: #f6f5f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f3 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f3), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f3 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f3 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f3 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f3 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: 1px solid #a8a4a5;
}
.entrez{
	font-size:27px;
}